USE [QLNHANSU]
GO
/****** Object:  Table [dbo].[tb_BANGCONG]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BANGCONG](
	[MABC] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[GIOVAO] [int] NULL,
	[PHUTVAO] [int] NULL,
	[GIORA] [int] NULL,
	[PHUTRA] [int] NULL,
	[MANV] [int] NULL,
	[IDLC] [int] NULL,
 CONSTRAINT [PK_tb_BANGCONG] PRIMARY KEY CLUSTERED 
(
	[MABC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_BAOHIEM]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BAOHIEM](
	[IDBH] [int] IDENTITY(1,1) NOT NULL,
	[SOBH] [nvarchar](50) NULL,
	[NGAYCAP] [datetime] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[NOIKHAMBENH] [nvarchar](50) NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_tb_BAOHIEM] PRIMARY KEY CLUSTERED 
(
	[IDBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_BOPHAN]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_BOPHAN](
	[IDBP] [int] IDENTITY(1,1) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[IDBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_CHUCVU]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CHUCVU](
	[IDCV] [int] IDENTITY(1,1) NOT NULL,
	[TENCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[IDCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_CONGTY]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CONGTY](
	[MACTY] [int] IDENTITY(1,1) NOT NULL,
	[TENCTY] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[DIACHI] [nvarchar](200) NULL,
 CONSTRAINT [PK_tb_CONGTY] PRIMARY KEY CLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_DANTOC]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DANTOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENDT] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_DANTOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_HOPDONG]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_HOPDONG](
	[SOHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYBATDAU] [datetime] NULL,
	[NGAYKETTHUC] [datetime] NULL,
	[NGAYKY] [datetime] NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[LANKY] [int] NULL,
	[THOIHAN] [nvarchar](50) NULL,
	[HESOLUONG] [float] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_tb_HOPDONG] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_KHENTHUONG_KYLUAT]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_KHENTHUONG_KYLUAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SOKTKL] [int] NULL,
	[NOIDUNG] [nvarchar](50) NULL,
	[NGAY] [datetime] NULL,
	[MANV] [int] NULL,
	[LOAI] [int] NULL,
 CONSTRAINT [PK_tb_KHENTHUONG_KYLUAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_LOAICA]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICA](
	[IDLOAICA] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAICA] [nvarchar](50) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_tb_LOAICA] PRIMARY KEY CLUSTERED 
(
	[IDLOAICA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_LOAICONG]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_LOAICONG](
	[IDLC] [int] IDENTITY(1,1) NOT NULL,
	[TENLC] [nvarchar](50) NULL,
	[HESO] [float] NULL,
 CONSTRAINT [PK_tb_LOAICONG] PRIMARY KEY CLUSTERED 
(
	[IDLC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_NHANVIEN]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [datetime] NULL,
	[DIENTHOAI] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](300) NULL,
	[HINHANH] [varbinary](max) NULL,
	[IDPB] [int] NULL,
	[IDBP] [int] NULL,
	[IDCV] [int] NULL,
	[IDTD] [int] NULL,
	[IDDT] [int] NULL,
	[IDTG] [int] NULL,
	[MACTY] [int] NULL,
 CONSTRAINT [PK_tb_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_NHANVIEN_PHUCAP]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NHANVIEN_PHUCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANV] [int] NULL,
	[IDPC] [int] NULL,
	[NGAY] [datetime] NULL,
	[NOIDUNG] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_tb_NHANVIEN_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_PHONGBAN]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHONGBAN](
	[IDPB] [int] IDENTITY(1,1) NOT NULL,
	[TENPB] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_PHONGBAN] PRIMARY KEY CLUSTERED 
(
	[IDPB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_PHUCAP]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_PHUCAP](
	[IDPC] [int] IDENTITY(1,1) NOT NULL,
	[TENPC] [nvarchar](50) NULL,
	[SOTIEN] [float] NULL,
 CONSTRAINT [PK_tb_PHUCAP] PRIMARY KEY CLUSTERED 
(
	[IDPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_TANGCA]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TANGCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[SOGIO] [float] NULL,
	[MANV] [int] NULL,
	[IDLOAICA] [int] NULL,
 CONSTRAINT [PK_tb_TANGCA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_TONGIAO]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TONGIAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENTG] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_TONGIAO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_TRINHDO]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_TRINHDO](
	[IDTD] [int] IDENTITY(1,1) NOT NULL,
	[TENTD] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_TRINHDO] PRIMARY KEY CLUSTERED 
(
	[IDTD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_UNGLUONG]    Script Date: 11/21/2022 7:48:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_UNGLUONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAM] [int] NULL,
	[THANG] [int] NULL,
	[NGAY] [int] NULL,
	[SOTIEN] [float] NULL,
	[TRANGTHAI] [bit] NULL,
	[MANV] [int] NULL,
 CONSTRAINT [PK_tb_UNGLUONG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tb_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_tb_LOAICONG] FOREIGN KEY([IDLC])
REFERENCES [dbo].[tb_LOAICONG] ([IDLC])
GO
ALTER TABLE [dbo].[tb_BANGCONG] CHECK CONSTRAINT [FK_tb_BANGCONG_tb_LOAICONG]
GO
ALTER TABLE [dbo].[tb_BANGCONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_BANGCONG_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_BANGCONG] CHECK CONSTRAINT [FK_tb_BANGCONG_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_BAOHIEM]  WITH CHECK ADD  CONSTRAINT [FK_tb_BAOHIEM_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_BAOHIEM] CHECK CONSTRAINT [FK_tb_BAOHIEM_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_HOPDONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_HOPDONG_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_HOPDONG] CHECK CONSTRAINT [FK_tb_HOPDONG_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_KHENTHUONG_KYLUAT]  WITH CHECK ADD  CONSTRAINT [FK_tb_KHENTHUONG_KYLUAT_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_KHENTHUONG_KYLUAT] CHECK CONSTRAINT [FK_tb_KHENTHUONG_KYLUAT_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_BOPHAN] FOREIGN KEY([IDPB])
REFERENCES [dbo].[tb_BOPHAN] ([IDBP])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_BOPHAN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_CHUCVU] FOREIGN KEY([IDCV])
REFERENCES [dbo].[tb_CHUCVU] ([IDCV])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_CHUCVU]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_CONGTY] FOREIGN KEY([MACTY])
REFERENCES [dbo].[tb_CONGTY] ([MACTY])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_CONGTY]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_PHONGBAN] FOREIGN KEY([IDBP])
REFERENCES [dbo].[tb_PHONGBAN] ([IDPB])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_PHONGBAN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_tb_TRINHDO] FOREIGN KEY([IDTD])
REFERENCES [dbo].[tb_TRINHDO] ([IDTD])
GO
ALTER TABLE [dbo].[tb_NHANVIEN] CHECK CONSTRAINT [FK_tb_NHANVIEN_tb_TRINHDO]
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP] CHECK CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP]  WITH CHECK ADD  CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_PHUCAP] FOREIGN KEY([IDPC])
REFERENCES [dbo].[tb_PHUCAP] ([IDPC])
GO
ALTER TABLE [dbo].[tb_NHANVIEN_PHUCAP] CHECK CONSTRAINT [FK_tb_NHANVIEN_PHUCAP_tb_PHUCAP]
GO
ALTER TABLE [dbo].[tb_TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_tb_TANGCA_tb_LOAICA] FOREIGN KEY([IDLOAICA])
REFERENCES [dbo].[tb_LOAICA] ([IDLOAICA])
GO
ALTER TABLE [dbo].[tb_TANGCA] CHECK CONSTRAINT [FK_tb_TANGCA_tb_LOAICA]
GO
ALTER TABLE [dbo].[tb_TANGCA]  WITH CHECK ADD  CONSTRAINT [FK_tb_TANGCA_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_TANGCA] CHECK CONSTRAINT [FK_tb_TANGCA_tb_NHANVIEN]
GO
ALTER TABLE [dbo].[tb_UNGLUONG]  WITH CHECK ADD  CONSTRAINT [FK_tb_UNGLUONG_tb_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[tb_NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[tb_UNGLUONG] CHECK CONSTRAINT [FK_tb_UNGLUONG_tb_NHANVIEN]
GO
